@charset "UTF-8";
html,body {
  margin: 0;
  padding: 0;
  border: 0;
background: #ffffff;
}

body{
	_text-align: center;
	#text-align: center;
	margin:auto;
	overflow-y:scroll;
	color:#333;
	background-color:#aaaaaa;
	font-family:Arial, Helvetica, sans-serif;
	/*background-image:url(../images/header.png);*/
	overflow-x:hidden;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #eeeeee 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
 }
.input,
#recaptcha_response_field {
	background-color: #FFFBF5;
    border: 1px solid #cccccc;
    border-radius: 6px 6px 5px 6px;
    box-shadow: 1px 1px 2px #333333 inset;
	-moz-box-shadow: 1px 1px 2px #333333 inset;
	-ms-box-shadow: 1px 1px 2px #333333 inset;
	-o-box-shadow: 1px 1px 2px #333333 inset;
	-webkit-box-shadow: 1px 1px 2px #333333 inset;
    height: 18px;
	padding-left:5px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:0.9em;
}

.textarea {
	background-color: #FFFBF5;
    border: 1px solid #cccccc;
    border-radius: 6px 6px 5px 6px;
    box-shadow: 1px 1px 2px #333333 inset;
	-moz-box-shadow: 1px 1px 2px #333333 inset;
	-ms-box-shadow: 1px 1px 2px #333333 inset;
	-o-box-shadow: 1px 1px 2px #333333 inset;
	-webkit-box-shadow: 1px 1px 2px #333333 inset;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:0.9em;
	
}
 
#alertScreen{
	position:absolute;
	top:0;
	left:0;
	background:#333;
	z-index:20;
}

 
a:link {
	color: #0066cc;
}
a:visited {
	color: #0066cc;
}
a:active,
.advSearchBtn:hover,
#closeBtn:hover,
#post-Explained:hover,
#notUser:hover,
#post-formEdit:hover,
#whatIsWildCard:hover,
#backTop:hover,
.secCodeRefresh:hover,
.startOverBtnBottom:hover,
.editCancelBtn:hover,
a:hover {
	color: #6699ff;
}

#fMenuBtn:link,  #fMenuBtn:active, #fMenuBtn:visited{
	color:#333;
}
#fMenuBtn:hover{
	color:#cccccc;
}

#whatIsBtn {
	font-size: 0.9em;
	position: absolute;
	margin-top: 5px;
}

.boxBare {
		background-color:#ffffff;
		border:1px solid;
		border-color:#ffffff;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-size: 1em;
}

.boxBasic {
		background-color:#ffffff;
		border:1px solid;
		border-color:#b5b5b5;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-size: 1em;
}

.boxDrop {
		background-color:#ffffff;
		border:1px solid;
		border-color:#b5b5b5;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 4px 2px 8px #888888;
		-moz-box-shadow: 4px 2px 8px #888888;
		-webkit-box-shadow: 4px 2px 8px #888888;
		color:#333;
		font-size:1em;
}

.boxGradient {
	border:1px solid;
	border-color:#b5b5b5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 1em;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.boxGradientDrop {
	border:1px solid;
	border-color:#b5b5b5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 1em;
	-moz-box-shadow: 4px 2px 8px #888888;
	-webkit-box-shadow: 4px 2px 8px #888888;
	box-shadow: 4px 2px 8px #888888;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.alert {
	top:50%;
	left:50%;
	margin-left:-175px;
	position:absolute;
	z-index:22;
	display:none;
	height:auto;
	width:350px;
	padding:10px;
	border:3px solid #6699ff;
}

.alertOkayBtn{
	margin-top: 20px;
}
.alertContinueBtn {
	margin-right:10px;
	margin-top: 20px;
}
#alertHdr {
	font-weight:bold; 
	color:#6292BF; 
	text-align:center;
	margin-top: 10px;
}
#alertMsg {
	color: #333333;
    font-size: 1em;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    width: 250px;	
}
 
h2 {
	font-size:1.25em;
 }
 
.wrapper {
		_text-align: center;
		#text-align: center;
		margin:auto;
	  	width:1000px;
}
 
.mainBase
 {
		width:1002px;
		background-color:#ccc;
		border-color:#6292BF;
		padding:2px;
		box-shadow: 4px 2px 8px #333333;
		-moz-box-shadow: 4px 2px 8px #333333;
		-webkit-box-shadow: 4px 2px 8px #333333;
 }
 
 .sideBar {
  background-color: #666666;
    border-color: #333333;
    border-radius: 5px 0 0 5px;
    float: left;
    height: auto;
    margin-left: -34px;
    margin-top: 40px;
    width: auto;
    z-index: -1;
}

#shareBtns {
	padding:3px;
}

#facebook {
	margin-left:2px;
	padding-top: 3px;
}

#twitter {
	margin-left:2px;
	margin-top:10px;
}

#plus1 {
	margin-top:10px;
	margin-left:4px;
}
 
.secondBase
 {
	width:990px;
	padding:0 5px 10px 5px;
	height:auto; 
 }
 
.header{
	margin-left: 10px;
 }
 
 .loginBase1 {
    width: 980px;
	padding-bottom:10px;
	margin-top:10px;
	height:auto;
}

.loginBase2 {
    margin-left: 120px;
	margin-top: 25px;
	width: 750px;
}

#loginFormBody {
	height: 55px;
	margin-left: 65px;
}
 
.homeBase
{
	margin-top:10px;
	height:555px;
	width: auto;
}

.stateBase
{
	margin-top:10px;
	width: auto;
	padding-bottom:10px;
}

.cityBase
{
	margin-top:10px;
	width: auto;
	padding-bottom:10px;
	height:auto;
}

.cityServicesBase {
	border: 1px solid #CCCCCC;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width:420px;
	float:left;
}

.cityGoodsBase {
	border: 1px solid #CCCCCC;
    margin-left: 515px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width:420px;
}

.listBase {
	margin-top:10px;
	width: auto;
	padding-bottom:10px;
	height:auto;
}

.firstListBase
{
	 color: #333333;
    height: auto;
    margin-left: 2px;
    margin-top: 10px;
    padding: 0 0 50px;
    width: 980px;
}

.secondListBase
{
	padding: 0 0 10px 2px;
	color:#333;
	margin-top:10px;
}

.thirdListBase
{
	padding: 2px;
	color:#333;
}

.listPost {
	padding-bottom: 10px;
    width: 980px;
	margin-top: 10px;
}

.listPostListPg {
	height:75px;

}

.thePostBase {
	margin-top:10px;
	width: auto;
	padding-bottom:10px;
	height:auto;
}

.primaryThePostBase {
	width: 975px;
	margin-top:10px;
	margin-left: 5px;
	padding-bottom: 10px;
}

.secondaryThePostBase {
	width: 975px;
	margin-bottom:30px;
	margin-left: 5px;
	padding-bottom: 10px;
}

.thePostBaseMsg {
	padding-bottom: 10px;
	color:#333333;
	font-size:1.1em;
	width: 975px;
	margin-bottom:15px;
	margin-left: 5px;
}

#postHint{
padding:10px;
font-size:0.9em;	
}

.postReplySecCode {
	width:950px;
	border:none;
	background-color:#EEEEEE;
}

.registerBase1
{
	 height: auto;
    margin-top: 15px;
    padding-bottom: 50px;
    width: auto;
}

.registerBase2 {
	margin-top:20px;
	width:800px;
	margin-left:90px;
	height:auto;
	padding-bottom:20px;
}

.registerBase3 {
	height: auto;
   	margin: 20px;
	padding: 10px;
}

.contactBase1 {
	margin-top:10px;
	width: auto;
	padding-bottom:10px;
	height:320px;
}

.contactBase2 {
	padding-bottom:15px;
	width:800px;
	margin-left:75px;
	height:230px;
	text-align:center;
}

.forgetBase1 {
	margin-top:10px;
	width: auto;
	padding-bottom:10px;
	height:320px;
}

.forgetBase2 {
	height: 200px;
    margin-left: 10px;
    margin-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    width: 965px;
}

.editBase1 {
	padding-bottom:10px;
	margin-top:10px;
	height:auto;
}

.editBase2 {
	height: auto;
    margin-left: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    width: 98%;
}

.aboutBase1 {
	margin-top:10px;
	height: auto;
	padding-bottom:10px;
}

.aboutBase2 {
	width:965px;
	margin-left: 10px;
	padding-bottom:10px;
	margin-top:25px;
}

.smarterBase1 {
	margin-top:10px;
	padding-bottom:10px;
}

.smarterBase2 {
	width:955px;
	margin-left: 10px;
	padding-bottom:10px;
	margin-top:25px;
}

.donateBase1 {
	margin-top:10px;
	height:250px;
	padding-bottom:10px;
}

.donateBase2 {
	 margin-top:40px;
	 width:800px;
	 margin-left: 90px;
	 text-align:center;
	 padding-bottom:10px;
 }
 
.searchBase1 {
	margin-top:45px;
	height:auto;
	padding-bottom:10px;
}

.searchBase2 {
	border: 1px solid #CCCCCC;
    margin-left: 20px;
    padding-bottom: 10px;
    width: 95%;
}

.searchBase3 {
	margin-top:0px;
	width: auto;
	padding-bottom:10px;
	height:auto;
}

.sideBySide{
	float:left;
	 margin-left: 30px;
	 width:45%;
}

.reviewsBase1 {
	margin-top:10px;
	height:auto;
	padding:10px;
}

.reviewFormBase1
{
	font-size:1em;
	padding-bottom:10px;
	color:#333;
	width:760px;
	margin-left: 110px;
	margin-top: 20px;
	height: 80px;
}

.reviewFormBase2 {
	padding-bottom: 10px;
	height: 475px;
	margin-left: 4px;
	width: 750px;
	font-size: 0.9em;
}

.postBase1 {
	padding-bottom:10px;
	margin-bottom: 20px;
}

.postBaseEdit {
	top:0%;
	position:absolute;
	z-index:20;
	display:none;
	height:auto;
	width:950px;
	padding:20px;
	font-size: 0.95em;
	border:3px solid #454545;
}

.postBaseEdit2
{
	color: #333333;
    height: 880px;
    margin-left: 10px;
    margin-top: 50px;
    padding: 0 0 50px;
    width: 98%;
}

.editUserPgDivider {
	width: 920px;
	padding: 10px; 
	font-weight:bold; 
	color:#666666;
}


.editCancelBtn {
	margin-left: 50px;
}



.postBaseSecCode {
		height: 155px;
		padding-bottom:10px;
		font-size: 0.95em;
}

#header-title {
	font-size: 1em;
    font-weight: normal;
    line-height: 0;
}

#post-Explained{
	color: #666666;
    cursor: pointer;
    display: inline;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    text-decoration: underline;
}

#closeBtn {
	color: #666666;
    cursor: pointer;
    float: right;
    text-decoration: underline;
    width: 40px;
}


.post-offerSeparator
 {
	  	width:955px;
		margin-top:10px;
		padding:10px;
		font-size: 0.9em;
		border: 0 none;
		margin-left:5px;
 }
 
 .post-needSeparator
 {
	  	width:955px;
		margin-top:10px;
		padding:10px;
		font-size: 0.9em;
		border: 0 none;
		margin-left:5px;
 }
 
 .post-offerAdditional 
 {
	font-size: 0.9em;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    width: 925px;
	height: 18px;
 }
 
 .post-needAdditional 
 {
	font-size: 0.9em;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    width: 925px;
	height: 18px;
 }
 
 .activateBase1 {
	margin-top:135px;
	width: auto;
	padding-bottom:10px;
	height:150px;
	padding:5px;
}

 .activateBase2 {
	width: auto;
	padding:10px;
	height:auto;
	text-align:center;
}

.blueHeader,
.mainHeader {
	color:#ffffff;
	background:#4F789D;
	border:1px solid #cccccc;
	/*background: #6292BF;*/
}

.grayHeader {
	border:1px solid #cccccc;
	background: #666666;
	color:#ffffff;	
 }
 
.ltGrayHeader {
	border:1px solid #ffffff;
	background: #f1f1f1;
	color:#333333;
	text-shadow:0 1px 0 #ffffff;	
 }

.ltBlueHeader {
	border:1px solid #ffffff;
	background: #E1E8ED;
	color:#333333;
	text-shadow:0 1px 0 #ffffff;	
 }
 
 .regBlueHeader {
	border:1px solid #ffffff;
	background: #6292BF;
	color:#ffffff;
 }

.sectionHeaderFormat {
    text-align: center;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

.sectionHeader1 {
	text-align:inherit;
	font-size:0.85em; 
	padding: 4px 8px;
	color:#454545;
 }
 
.sectionHeader2 {
	color:#fff;
	font-size:0.95em; 
 }
 
.sectionHeader3 {
	color:#333333;
	font-size:0.95em; 
 }
 
.city-servicesTag {
	margin-left: 30px;
    padding-left: 10px;
    text-align: left;
    width: 350px;
}
.city-goodsTag {
	margin-left: 525px;
    margin-top: -1.3em;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    width: 350px;
}

.buttonWrap {
	cursor:pointer;
   /* border: 1px solid #6393c1;*/
   border: 1px solid #cccccc;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    color: #333333;
   	float:right;
    font-size: 0.9em;
    padding: 3px;
	text-shadow: 0 1px 0 #FFFFFF;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(top, #fafafa 0%,#d9d9d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */

}
.buttonWrap:hover {
    border: 1px solid #3399FF;
	color:#3399FF;
	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(top, #d9d9d9 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d9d9d9 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d9d9d9 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d9d9d9 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(top, #d9d9d9 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

.header-menuBtn {
	float:left;
	margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid #b5b5b5;
}

.backBtn {
	font-size:0.75em;
	float: left;
	padding: 1px;
	margin-left: 10px;
}

.searchPartial {
	background: #f5f5f5;
    color: #333333;
    display: inline-block;
    height: 25px;
    padding: 4px;
	 border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#preloader
{
	padding-left:10px;
	margin-left:25em;
	
}

#h1Header {
	color: #FFFFFF;
    font-size: 0.5em;
	float:left;
}
#header-menu {
	font-size:.85em;
	float:left;
	width: 73em;
}

#footer {
	margin: 10px auto;
    width: 1010px;
	color:#666666;
	font-size:0.8em;
}

#likeBtn{
	display: inline;
    margin-left: 5px;
    position: absolute;
}

#footer-menu{
	line-height: 1.75em;
    text-align: center;
}

#breadCrumbs {
	font-size:1em;
	color: #669900;
	/*display:inline;*/
	padding:10px;
	
}

#bcRegion{
	display:inline;
}

#bcState {
	display:inline;
}

#bcCity {
	display:inline;
}

#bcOfferNeed{
	display:inline;
}

#bcCategory{
	display:inline;
}

.listPostingBtn {
	margin-left: 55em;
    margin-top: 1em;
    position: absolute;
    width: 11.5em;
	border-color:#b5b5b5;
}

#index-ZooFaroo {
	float:left;
	background-color:#ffffff;
}
#index-barterDef {
	 font-family: "Times New Roman",Times,serif;
    font-size: 1.2em;
    line-height: 1em;
    margin-left: 39em;
    position: relative;
    width: 250px;
}
#definition {
	 font-size: 0.75em;
    font-weight: normal;
    line-height: 1.1em;
}

#index-Map {
	margin-top:30px;
	margin-left: 260px;
	  line-height: 1em;
}
#index-title{
	font-size: 1em;
    font-weight: normal;
    line-height: 0;
}

#index-menu
{
        width:970px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	 	border-radius: 5px;
		background-color:#fff;
        position:absolute;
		font-family:Arial, Helvetica, sans-serif;
		font-size:1em;
		text-align: center;
}

#state-title {
	padding:10px;
}

#state-image {
	margin-top:30px;
	
}


#state-menu
{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	 	border-radius: 5px;
		background-color:#ffffff;
		font-family:Arial, Helvetica, sans-serif;
		font-size:1em;
		padding:10px;
}

#dynamicSubHeader{
	
    font-size: 0.95em;
    margin-left: 20px;
}

#dynamicMsg {
	float: left;
    font-size: 0.95em;
    margin-left: 20px;
    width: 450px;
}


 #city-results
 {
	display: inline-block;
    margin-top: 30px;
    padding-top: 5px;
    width: 970px;
 }
 

#city-title {
	padding:10px;
}

.city-offerTag {
   border: 2px solid #669900;
    display: inline;
    float: left;
    font-size: 1em;
    position: absolute;
    z-index: 12;
		
}
.city-needTag {
    border: 2px solid #FF9900;
    font-size: 1em;
    margin-left: 325px;
    position: absolute;
    z-index: 13;
}

#city-categoryName {
	 background: none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #6292BF;
    color: #333333;
    margin-left: 60px;
    margin-top: 5px;
    padding-right: 0.5px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 10;
}

#forgetCategory{
	font-size: 0.9em;
    /*margin-left: 6em;*/
    margin-top: 1px;
}

.wildCardBase {
	background-color: #ffffff;
    color: #333333;
    font-size: 0.9em;
    margin-left: 38em;
    padding: 5px;
    text-align: center;
    width: 385px;
	height:50px;
}

.wildCardBtn {
	font-size: 1em;
    margin-right: 7px;
    margin-top: 5px;
}

#whatIsWildCard {
	color: #6292BF;
    cursor: pointer;
    font-size: 0.85em;
    margin-left: 130px;
    margin-top: 45px;
    text-decoration: underline;
    text-shadow: none;
    width: 130px;
}

.abuseReport {
    color: #333333;
    font-size: 1em;
    font-weight: bold;
    margin-top: -3px;
    padding: 0 0 0 1px;
    text-align: center;
    width: 15px;
	border: 2px solid #BE5C5C;
	font-family:Verdana, Geneva, sans-serif;
	background: #DDDDDD; /* Old browsers */
}

.moneyOption {
	float: none;
	display: inline;
	vertical-align:sub;
	cursor:pointer;
}


.barterSmarter {
    font-size: 0.9em;
	margin-top: 80px;
	padding: 0 4px;
	position: absolute;
	width: 100px;
	text-decoration: underline;
	color: #36C;
	cursor: pointer;
}

#list-offerTitle {
	margin-left:10px;
	margin-top: 5px;

}

#list-needTitle {
	margin-left: 10px;
    margin-top: 5px;
}

#list-offerIcon {
	display:inline;
}

#list-needIcon {
	display:inline;
}

#list-offerLink {
	display:inline;
	width:650px;
	color:#bbbbbb;
	white-space: nowrap;
	margin-left: 5px;
}

#hasPic {
	display:inline;
	color:#C00;
	vertical-align: sub;
	cursor:pointer;
}

#list-needLink {
	display:inline;
	padding-top:15px;
	margin-left:5px;
	color:#bbbbbb;
	white-space: nowrap;
}

#offerIcon {
		display:inline;
}
#offer-link {
	display:inline;
	width:650px;
}

#needIcon {
		float: left;
    margin-left: 5px;
    padding-top: 15px;
}

#need-link {
	float:left;
	padding-top:15px;
	margin-left:5px;
}

#list-Date {
	display:inline;
	margin-left:10px;
}
#list-Username {
	display:inline;

}
#list-offerTag {
	background-color: #669900;
    border: 2px solid #669900;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline;
    font-size: 0.9em;
    padding: 2px 4px;
		
}

#list-needTag {
	background-color: #FF9900;
    border: 2px solid #FF9900;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline;
    font-size: 0.9em;
    padding: 2px;
}

.list-viewPost {
	float: right;
    margin-right: 10px;
    margin-top: 25px;
	text-decoration:none;
	font-size: 0.85em;
}

.list-editPost {
	float: right;
    margin-right: 10px;
    margin-top: 15px;
	text-decoration:none;
}

.list-deletePost {
	float: right;
    margin-top: 15px;
	text-decoration:none;
}
.editPostColor{
	color:#ffffff;
	text-shadow:0 1px 0 #333;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #666666 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666666 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666666 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #666666 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(top, #666666 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.deletePostColor{
	color:#ffffff;
	text-shadow:0 1px 0 #333;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #990000 0%, #7E0101 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#990000), color-stop(100%,#7E0101)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #990000 0%,#7E0101 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #990000 0%,#7E0101 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #990000 0%,#7E0101 100%); /* IE10+ */
	background: linear-gradient(top, #990000 0%,#7E0101 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#7E0101',GradientType=0 ); /* IE6-9 */
}

.list-accountInfo {
	margin-left: 50px;
    margin-top: 20px;
    width: 850px;
	padding-left:10px;
}

#list-accountDetail {
	 line-height: 1.8em;
	 display:block;
}
#listContent {
	display:inline;
	color:#6292BF;
}

#list-pageCount{
	float:left;
	margin-top: 5px;
}

#titleCategory {
	color: #454545;
    display: inline;
    white-space: nowrap;
	font-size:1em;
}

#post-postForm {
	
}

#post-form {
	margin-top: 10px;
}

#post-offerFormTop{
	float:left;
}

#post-offerFormMiddle{
	
}

#post-offerFormPhoto {
	float:left;
}

#post-offerActPhoto {
	
}

#post-Photo{
	margin-top:25px;
}

.photoUploadBtn{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    margin-right: 100px;
    padding: 1px;
}

#photoLoading {
	display:inline;
	font-size:0.9em;
	margin-left:10px;
}

.post-offerChangePhoto {
	position:absolute;
	margin-left:700px;
	 width: 175px;
	
}

#post-offerFormBottom{
	float:left;
}

#post-needFormTop{
	float:left;
}

#post-needFormMiddle{
}

#post-needFormBottom{
	float:left;
}

#post-formEdit {
	float:right;
	font-size:0.8em;
	color:#666;
	padding-right:5px;
	cursor:pointer;
}

#post-formDelete {
	float:right;
	font-size:0.8em;
	color:#666;
	padding-right:5px;
	cursor:pointer;
}
#post-formDelete:hover {
	color:#900;
}
.yesPleaseBtn {
	display: inline;
    float: none;
    margin-left: 10px;
    margin-top: -4px;
}
.noThanksBtn {
	display: inline;
    float: none;
    margin-left: 10px;
    margin-top: -4px;
}
#post-genericTag {
		border:2px solid;
		background-color:#ffffff;
		border-color:#336699;
		padding:2px;
		-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	border-radius: 5px;
		display:inline;
		font-size:1em;
		color:#333333;
}

#post-offerTag {
		border:2px solid;
		background-color:#669900;
		border-color:#669900;
		padding:2px;
		-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	border-radius: 5px;
		display:inline;
		font-size:1em;
		color:#ffffff;
}
#post-needTag {
		border:2px solid;
		background-color:#ff9900;
		border-color:#ff9900;
		padding:2px;
		-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	border-radius: 5px;
		display:inline;
		font-size:1em;
		color:#ffffff;
}

#post-postedDate {
	display:inline;
	margin-left:25px;
}

#post-postedBy  {
	display:inline;
}

#post-respondPost {
	display:inline;
	margin-left:325px;
}

#post-offerIcon{
	display: inline;
}

#post-offerTitle {
	display: inline;
    width: 860px;
}

#post-offerPosting {
	width:950px;
	margin-left:15px;
	margin-top:20px;
}

#post-offerDesc {
	width:800px;
	margin-left:70px;
		background-color:#ffffff;
		padding:10px;
		color:#333;
		word-wrap: break-word;
		padding-bottom:50px;
}

#post-offerPhoto {
	margin-top:10px;
}

.postBaseShare {
	top:50%;
	left:50%;
	margin-left:-315px;
	position:absolute;
	z-index:22;
	display:none;
	height:auto;
	width:auto;
	padding:20px;
	font-size: 0.95em;
	border:3px solid #454545;
	background-color:#CCCCCC;
}

#postShare {
	float: right;
	margin-top: -20px;
}


#postShare-layout
{
	font-size:0.9em;
	text-shadow:0 1px 0 #ffffff;
	color:#333333;
	width:950px;
	height: auto;
	margin-top: 0px;
	margin-left: 12px;
	border:1px solid;
	border-color:#999999;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: #eeeeee;
}

#postShare-shareMsg{
	color: inherit;
	float: left;
	margin-left: 725px;
	margin-top: 6px;
	padding-right: 15px;
	font-size:0.8em;
}

#postShare-facebook {
	float:left;
	margin-top: 4px;
	padding-right:10px;
}
#postShare-twitter {
	float:left;
	margin-top: 4px;
	padding-right:10px;
}
#postShare-google {
	float:left;
	margin-top: 4px;
	padding-right:10px;
}
#postShare-email {
	float:left;
	cursor:pointer;
}



#thePost-offerTag {
		border:2px solid;
		background-color:#669900;
		border-color:#669900;
		padding: 3px 5px;
		-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	border-radius: 5px;
		display:inline;
		font-size:1em;
		color:#ffffff;
}
#thePost-needTag {
		border:2px solid;
		background-color:#ff9900;
		border-color:#ff9900;
		padding:3px;
		-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	border-radius: 5px;
		display:inline;
		font-size:1em;
		color:#ffffff;
}

#offerTitle {
	display: inline;
	line-height: 1.5em;
    word-wrap: break-word;
}
#needTitle {
	display: inline;
    line-height: 1.5em;
    word-wrap: break-word;
}

#headerFooter-state{
	display:inline;
}
#headerFooter-city{
	display:inline;
	margin-left:25px;
}

#post-needIcon{
	display: inline;
}

#post-needTitle {
	display: inline;
	width:860px;
}

#post-needDesc {
	width:800px;
	margin-left:70px;
		background-color:#ffffff;
		padding:10px;
		color:#333;
		word-wrap: break-word;
}

#post-needPosting {
	width:950px;
	margin-left:15px;
	margin-top:20px;
}

#post-alert {
	color: #FF0000;
    float: left;
    font-size: 0.95em;
}

#postReply-form {
	margin-top: 40px;
}

#postReply-date {
	color:#666666;
	font-size:.9em;
	float:left;
}

.submitBtn {
	float: left;
	margin-left: 20px;
	margin-top: 60px;
}

#postReply-message {
	margin-left:165px;
	margin-top:10px;
}

#usernameInput {
	
}

#usernameLabel {
	
}

#passwordInput {
	
}

#passwordLabel {
	
    margin-left: 15px;
}

#inputLabelTxt {
	display:inline;
	color:#333;
	font-size:0.85em;
}

.whereToPost{
	width: 606px;
	margin-left: 195px;	
}

 #stateDropDwn {
	 margin-top:10px;
	 margin-left: 150px;
	 
 }
 #cityDropDwn {
	 margin-top:5px;
	 margin-left: 150px;
	 
 }
 #specificLocale {
	 margin-top:5px;
	 margin-left: 150px; 
 }

 #dollarSign {
	background-color: #F1F1F1;
    border: 1px solid #ffffff;
    border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
    color: #333333;
    float: left;
    margin-top: -3px;
    padding: 2px 10px; 
 }

.nextBtn {
	margin-right: 40px;
}

.startOverBtnBottom {
	  float: right;
	  padding-right: 20px;
	  margin-top: 118px;
	  text-decoration: underline;
	  color: #06C;
	  cursor: pointer;
	  font-size: 0.8em;
}

#emailAddyStatic {
	display:inline;
	padding-left:10px;
	color:#777777;
}

#loginAlert {
	font-size:.8em;
	margin-top:10px;
	color:#777777;
	text-align:center;
}

.loggedInAs,.logOut, .notUser, .gotoUserPage{
	display: inline;
    font-size: 0.7em;
	padding-right:10px;
}

#logStatus {
	margin-left: 22em;
	width: 30em;
}

.loggedInAs {
	
}

.logOut, .notUser, .gotoUserPage {
	color: #0066CC;
    cursor: pointer;
    display: inline;
    text-decoration: underline;
}

.secCodeRefresh {
	margin-left: 350px;
	margin-top: 108px;
	position: absolute;
	text-decoration: underline;
	color: #06C;
	cursor: pointer;
	font-size: 0.9em;
}

#post-captcha {
	/*width: 450px;*/
	float:left;
	margin-left: 100px;
    margin-top: 10px;
}

#refreshCodeMsg {
	color: #990000;
    font-size: 0.9em;
}

#register-title {
	font-size: 1em;
    font-weight: normal;
    line-height: 0;
	text-align:center;
}

#register-zoofarooPromise {
	font-size:0.9em;
	color:#6292BF;
	margin-top:10px;
	width:900px;
	text-align:left;
}

#register-option {
	padding: 10px;
    text-align: right;
}

#register-optional {
	margin-left: 30px;
	padding: 10px;
	text-align: left;
	font-size:0.9em;
}

#register-preaddress {
	color: #6292BF;
    display: inline;
}

#register-optionalInfo{
	font-size: 0.9em;
	color: #6292BF;
	margin: 10px;
}

#register-emailNotes {
	float:left;
	padding:10px;
}

#register-form {
	margin-left:85px;
	margin-top:10px;
	width:725px;
}

#register-goods{
	float:left;
	padding-left:100px;
}

#register-services{
	float:right;
	padding-right:100px;
}

#register-terms {
	font-size: 0.9em;
    padding-top: 10px;
}

#register-alert {
	color:#FF0000;
	float:left;
	margin-left:85px;
	font-size:0.85em;
	 margin-top: 10px;
}
.regEditSubmitBtn {
	margin-left: 600px;
}

#register-successful-text {
	font-size:0.95em;
	text-align: center;
}

.maxLengthMsg {
	color: #990000;
    float: right;
    font-size: 0.9em;
    width: 180px;
	margin-top: 135px;
}

#activation-successful {
	text-align:center;
}

#submissionAlert {
	color:#FF0000;
}

#changeSelection {
	color:#3399FF;
	cursor:pointer;
	font-size:.8em;
	display:inline;
	text-decoration:underline;
}


.reviewLink {
	float: left;
	margin-top: -4px;
	padding: 2px 3px 2px 3px;
	text-shadow: 0 1px 0 white;
	color: inherit;
	font-size: inherit;
	border: 1px solid #CCC;
}

.reviewLink:hover {
	border: 1px solid #CCC;
}

#welcomeMsg,
#edit-postingTally,
#review-account-greeting,
#reviews-greeting,
#review-postings-greeting
{
	display: inline-block;
    font-size: 1.25em;
    line-height: 1em;
    margin-left: 10px;
    padding: 10px;
	text-align:center;
}

#review-account-greeting-btns{
	float: right;
    margin-top: 25px;
	margin-right: 20px;
	font-size:0.85em;
}

.review-accountBtns {
	float: left;
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 10px;
    padding: 3px;
}

#reviews-reviewTitle {
    margin-left: 60px;
    margin-top: 10px;
    width: 850px;
    word-wrap: break-word;
	font-size:0.95em;
}

#reviews-recommended {
    float: left;
    margin-left: 15px;
	margin-top: -10px;
}

#reviews-reviewPost {
	margin-left: 50px;
    padding: 10px;
    width: 850px;
    word-wrap: break-word;
	font-size:0.95em;
	color:#666666;
}

#reviews-title {
	margin-left:100px;
}

#reviews-post {
	margin-left:100px;
}
#reviews-recommend {
	float:left;
	margin-top: 25px;
}
#ratePositive {
	float: left;
text-align: center;
font-size: 0.9em;
margin-left: 20px;
margin-top: 15px;
}

#rateNegative {
	text-align: center;
font-size: 0.9em;
margin-top: 15px;
width: 550px;
}

#backTop {
	color: #0066CC;
    cursor: pointer;
    float: right;
    font-size: 0.7em;
    margin-right: 10px;
    margin-top: 50px;
    text-decoration: underline;
}

#contact-title {
	font-size: 1em;
    font-weight: normal;
    line-height: 0;
}

#contact-email {
	
	padding:10px;

}
#contact-message {

}

#contact-form {
	margin-left:30px;
	width:725px;
	margin-top: 10px;
	font-size:0.9em;
}

#contact-submitBtn {
	float:right;
	margin-top:5px;
}


#forget-title {
	font-size:1.15em;
}


#forget-username {
	float:left;
	padding:10px;
	margin-left:100px;
}

#forget-form {
	width:725px;
	margin-left:100px;
	margin-top:10px;
}

#forget-alert {
	color:#FF0000;
	margin-left:100px;
	font-size:0.85em;
}
#forget-submitBtn {
	float:right;
	margin-top:5px;
}

#about-title {
	font-size: 1em;
    font-weight: normal;
    line-height: 0;
	 text-align:center;
}


#about-content {
	padding:20px;
}

#about-photo {
	float: right;
padding: 10px;
text-align:center;
font-size:0.9em;
}

#edit-postingTally {
	padding-top:20px;
	margin-left:10px;
	font-weight:bold;
}

#donate-title {
	font-size: 1em;
    font-weight: normal;
    line-height: 0;
}

#donate-content {
	margin-left: 75px;
    margin-top: 10px;
    text-align: center;
    width: 650px;
}

.emailShare-header{
	font-size:1.3em;
	color:#333;
	width:585px;
	height:60px;
	margin-left:20px;
	margin-top:5px;
	background-color:#ffffff;
		border:1px solid;
		border-color:#999999;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	
	background: #ffffff;
}

.emailShare-body{
	font-size:0.9em;
	color:#333;
    width: 600px;
	height:290px;
	margin-top:10px;
}

.emailShare-message{
    color: #333333;
    font-size: 1em;
    height: 150px;
    margin-left: 5px;
    margin-top: 10px;
    width: 580px;
}

#emailShare-link{
	margin-left: 15px;
    margin-top: 120px;
    text-align: left;	
}

#emailShare-postingLink{
font-size:0.9em;
display: inline;	
}

#emailShare-submitBtn{
	margin-top:20px; 
	margin-right:25px;
	font-size: 1.1em;
}

#emailShare-closeBtn{
float:left; 
margin-left:20px;
font-size: 1.1em;
}

#emailShare-sender {
	margin-left:20px;
}

#emailShare-senderPW {
	margin-left:25px;
}

#emailShare-recipient{
	margin-left:20px;	
}

#emailShare-alert{
	margin-left:20px;
	margin-top: 5px;
}
 
 #search-categoryList {
	 margin-left: 395px;
    padding: 10px 5px 5px; 
 }
 
 #search-keywordsInput {
	margin-left: 380px;
    padding: 15px 5px 5px;
    width: 220px; 
 }
 
 #search-searchBtn{
	float: left;
    margin-left: 620px;
    margin-top: -30px;
 }
 
 #search-startOverBtn {
	float: left;
    margin-left: 690px;
    margin-top: -30px; 
 }
 
 #search-OfferNeedBtns {
	 margin-left: 375px;
    margin-top: 10px; 
 }
 
 #search-OfferNeedMsg {
	 font-size: 0.9em;
    margin-left: 120px;
    margin-top: 10px;
	color:#666
 }
 #search-keywordMsg {
	 font-size: 0.9em;
    margin-left: 340px;
    margin-top: 10px;
	color:#666;
 }
 #postsPerPageBtns {
	  color: #990000;
 }
 #advancedBtn {
	 margin-right: 430px;
    margin-top: 10px;
 }
 .quickSearchBtn{
	display: inline-block;
    float: inherit;
    font-size: 0.75em;
    margin-left: 5px;
    padding: 2px;
 }
 
.advSearchBtn{
	 display: inline-block;
    float: inherit;
    font-size: 0.75em;
    padding: 2px;
	border:none;
	text-decoration:underline;
	color:#0066cc;
	cursor:pointer;
 }
 
 #qSearchTxt {
	 margin-left:5px;
	 display:inline-block;
	 margin-top: 1px;
 }
 
 #unSearchDivider{
	 float: right;
	margin-top: 15px;
	font-size: 0.85em; 
 }
 
 #userNameSearch{
	float: right;
	margin-right: 120px;
	margin-top: 15px;
	 
 }
 
 .userSearchBtn{
	 display: inline-block;
    float: inherit;
    font-size: 0.75em;
    margin-left: 300px;
	margin-top:10px;
    padding: 2px;
 }
 
  #userSearchTxt {
	 margin-left:5px;
	 display:inline-block;
	 margin-top: 1px;
 }
 
#siteMap-title{
    font-size: 1.3em;
    margin-top: 160px;
    text-align: center;
}
 
#siteMap-state {
	background: none repeat scroll 0 0 #F1F1F1;
    margin-top: 25px;
}

#siteMap-stateName {
	font-size: 1.5em;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: underline;
}

#siteMap-cityName {
	font-size: 1.25em;
    margin-left: 40px;
    margin-top: 10px;
    text-decoration: underline;
}

#siteMap-oN {
	 margin-left: 80px;
    text-decoration: underline;
	 margin-top:10px;
}

#siteMap-categories{
	 margin-left: 80px;
	 margin-top:10px;
}

/* CSS Document */

